* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.headerBar{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    font-size: 32px;
    font-weight: 300;
}

.headerImg{
    width: 43px;
    height: 52px;
    margin: 11px;
}

.formClass{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    
}

.inputFeild{
    width: 399px;
    height: 38px;
    margin-right: 12px;
    border-radius: 6px;
    border-color: #D1D5DB;
}

.inputFeild::placeholder{
    padding-left: 13px;
}

.addIngredientBtn{
    background-color: black;
    height: 38px;
    width: 183px;
    color: #FAFAF8;
    border-radius: 6px;
    border-color: black;
}